<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="VidzyContext" connectionString="metadata=res://*/VidzyModel.csdl|res://*/VidzyModel.ssdl|res://*/VidzyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAI-SRIVATSAN-7;initial catalog=Vidzy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>